* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

body > header > img {
  width:100px;
}

main {
  max-width: 800px;
  padding: 3rem;
  margin: auto;
}

h2 {
  line-height: 4rem;
}

section {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.post-header img {
  float: left;
  margin-right: 1rem;
}

.post-header .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-header .date {
  font-style: italic;
  margin-bottom: 5px;
  color: rgb(155, 155, 155);
}

.post-header {
  margin-bottom: 1rem;
}

.clear {
  clear: both;
}

.button {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
}

.button.disabled, .button.material.disabled{
  background-color: #ccc; /* Green */
  color: #333;
}

.button.material {
  background-color: #ee7802;
}

textarea {
    resize: none;
    border-radius: 0.25rem;
    overflow: auto;
    border: 1px solid #ccc;
    width: 100%;
    padding: 1rem;
    box-shadow: inset 0 1px 3px #ddd;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    margin: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 3px #ddd;
}

header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    background-color: white;
}

main>section>article{
  border:solid;
  margin:3em;
  padding:3em;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    width: 50vw;
}

.error > input {
  border: 1px solid rgb(179, 0, 0);
}

#log-out {
    color: #008cba;
    text-decoration: underline;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
}

#log-out.material {
  color: #ee7802;
  font-weight: bold;
}
